@use '../../assets/variables'

.container
    display: flex
    justify-content: center
    align-items: center
    width: 100vw
    height: 100vh

    .pokemon-wrap
        display: flex

        width: 80%
        height: 400px
        background-color: variables.$mid-dark-purple

        border-radius: 3px


            