@use "../../assets/variables"
        

.data
        display: flex
        flex-direction: column
        justify-content: space-evenly
        gap: 10px
        
        li
            color: #fff
            font-size: 15px

.img
        img
            width: 300px

            transition: 300ms all
            
            &:hover
                transform: scale(1.05)

        h1
            font-size: 25px
            text-align: center
            color: #fff
            text-transform: capitalize

        a
            text-decoration: none
            text-shadow: -1px 0 10px #000
            transition: 300ms all

            &:hover
                text-shadow: none
